table {
  width: 40vw;
  margin: 1vw;
  float: left;
}

td {
  border: 1px solid black;
  font-size: 1vw;
  padding: 0.1vw;
  text-align: center;
}

th {
  border: 1px solid black;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.1vw;
  text-align: center;
}

.saveScoreboardWarning {
  font-size: 1vw;
  width: 15vw;
  height: 5vw;
}

.mainButtons {
  text-align: center;
}

.gameLimit {
  font-size: 1.25vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.highWins {
  margin-left: 2vw;
}

.addPoints {
  font-size: 1.25vw;
  text-align: center;
}

.emptyCell {
  border: none;
  width: 2.25vw;
}

.emptyScoreboard {
  margin: 2vw;
  font-size: 1.5vw;
  border: 1px solid black;
  width: 45vw;
  padding: 2vw;
}

.roundNumber {
  font-weight: bold;
}

.lineChart {
  float: left;
  width: 50vw;
  height: 40vw;
}

.modal {
  width: 30vw;
  font-size: 1.5vw;
  font-weight: bold;
}

@media (max-width: 800px) {
  .emptyScoreboard {
    background-color: blue;
  }
}
