.Scoreboard_table {
  width: 40vw;
  margin: 1vw;
  float: left;
}

.Scoreboard_tr {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.Scoreboard_td {
  border: 1px solid black;
  font-size: 1vw;
  padding: 0.1vw;
  text-align: center;
}

.Scoreboard_th {
  border: 1px solid black;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.1vw;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

..Scoreboard_tableAndChart {
  text-align: center;
}

.Scoreboard_saveScoreboardWarning {
  font-size: 1vw;
  width: 15vw;
  height: 5vw;
}

.Scoreboard_mainButtons {
  text-align: center;
}

.Scoreboard_gameLimit {
  font-size: 1.25vw;
  text-align: center;
  margin-bottom: 0.5vw;
}

.Scoreboard_highWins {
  margin-left: 2vw;
}

.Scoreboard_addPoints {
  font-size: 1.25vw;
  text-align: center;
}

.Scoreboard_emptyCell {
  border: none;
  width: 2.25vw;
}

.Scoreboard_emptyScoreboard {
  margin: 2vw;
  font-size: 1.5vw;
  border: 1px solid black;
  width: 45vw;
  padding: 2vw;
}

.Scoreboard_roundNumber {
  font-weight: bold;
}

.Scoreboard_scoreboardLineChart {
  display: inline-block;
  width: 50vw;
  height: 40vw;
}

.Scoreboard_modal {
  width: 30vw;
  font-size: 1.5vw;
  font-weight: bold;
}

.Scoreboard_fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @media (max-width: 800px) {
  .emptyScoreboard {
    background-color: rgb(0, 0, 255, 0.25);
  }
} */
