.Scoreboard_table {
  width: 45vw;
  margin-left: 10px;
}

.Scoreboard_saveScoreboardWarning {
  color: red;
  font-size: 14px;
  width: 250px;
  height: 50px;
  animation: fadeIn 0.5s forwards;
}

.Scoreboard_mainButtons {
  text-align: center;
}

.Scoreboard_gameLimit {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.Scoreboard_highWins {
  margin-left: 10px;
}

.Scoreboard_manageUsers {
  border: 1px solid black;
  width: 35px;
}

.Scoreboard_emptyScoreboard {
  font-weight: normal;
  font-size: 20px;
  border: 1px solid black;
}

.Scoreboard_scoreboardLineChart {
  display: inline-block;
  width: 45vw;
  height: 35vw;
}

.Scoreboard_modal {
  width: 300px;
  height: 200px;
  font-size: 20px;
}

.Scoreboard_fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.Scoreboard_loadScoreboardButton {
  border-color: rgb(0, 150, 255, 0.5);
  background-color: rgb(0, 150, 255, 0.25);
  color: (0, 0, 0, 0.8);
}

.Scoreboard_loadScoreboardButtonHoverIn {
  animation: loadScoreboardButtonHoverIn 0.5s forwards;
}

.Scoreboard_loadScoreboardButtonHoverOut {
  animation: loadScoreboardButtonHoverOut 0.5s forwards;
}

.Scoreboard_loadScoreboardButtonClickOnLandscape {
  animation: loadScoreboardButtonClickOnLandscape 0.5s forwards;
}

.Scoreboard_loadScoreboardButtonClickOffLandscape {
  animation: loadScoreboardButtonClickOffLandscape 0.5s forwards;
}

.Scoreboard_loadScoreboardButtonClickOnPortrait {
  animation: loadScoreboardButtonClickOnPortrait 0.5s forwards;
}

.Scoreboard_loadScoreboardButtonClickOffPortrait {
  animation: loadScoreboardButtonClickOffPortrait 0.5s forwards;
}

.Scoreboard_loadScoreboardButtonClickOffNoHover {
  animation: loadScoreboardButtonClickOffNoHover 0.5s forwards;
}

@keyframes loadScoreboardButtonClickOffNoHover {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
}

@keyframes loadScoreboardButtonClickOnLandscape {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadScoreboardButtonClickOffLandscape {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadScoreboardButtonClickOnPortrait {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
  100% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadScoreboardButtonClickOffPortrait {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
}

@keyframes loadScoreboardButtonHoverIn {
  0% {
    border-color: rgb(0, 150, 255, 0.5);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadScoreboardButtonHoverOut {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.5);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-aspect-ratio: 13/9) {
  .Scoreboard_modal {
    width: 95vw;
  }

  .Scoreboard_scoreboardLineChart {
    display: block;
    margin-left: 2.5vw;
    width: 95vw;
    height: 40vw;
  }

  .Scoreboard_table {
    width: 95vw;
  }

  .Scoreboard_gameLimit {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
  }
}
