.Scoreboard_table {
  width: 45vw;
  margin-left: 10px;
}

.Scoreboard_saveScoreboardWarning {
  color: red;
  font-size: 14px;
  width: 250px;
  height: 50px;
  animation: fadeIn 0.5s forwards;
}

.Scoreboard_mainButtons {
  text-align: center;
}

.Scoreboard_gameLimit {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.Scoreboard_highWins {
  margin-left: 10px;
}

.Scoreboard_manageUsers {
  border: 1px solid black;
  width: 35px;
}

.Scoreboard_emptyScoreboard {
  font-weight: normal;
  font-size: 20px;
  border: 1px solid black;
}

.Scoreboard_scoreboardLineChart {
  display: inline-block;
  width: 45vw;
  height: 35vw;
}

.Scoreboard_modal {
  width: 300px;
  height: 200px;
  font-size: 20px;
}

.Scoreboard_fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-aspect-ratio: 13/9) {
  .Scoreboard_modal {
    width: 95vw;
  }

  .Scoreboard_scoreboardLineChart {
    display: block;
    width: 95vw;
    height: 40vw;
  }

  .Scoreboard_table {
    width: 95vw;
  }

  .Scoreboard_gameLimit {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
  }
}
