@media (max-aspect-ratio: 13/9) {
  .Bank_middleTableHeader {
    width: 250px;
  }
  .Bank_table {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.Bank_modalWarning {
  height: 35px;
  font-size: 14px;
  font-weight: normal;
  color: rgb(200, 0, 0);
  animation: fadeIn 0.5s forwards;
}

.Bank_table {
  margin-left: none;
  margin-right: none;
}

.Bank_middleTableHeader {
  width: 400px;
}

.Bank_addPlayerButton {
  color: rgb(0, 0, 200);
}

.Bank_addPlayerButtonHoverIn {
  animation: addPlayerButtonHoverIn 0.5s forwards;
}

.Bank_addPlayerButtonHoverOut {
  animation: addPlayerButtonHoverOut 0.5s forwards;
}

.Bank_addPlayerButtonClicked {
  animation: addPlayerButtonClicked 0.5s forwards;
}

@keyframes addPlayerButtonHoverIn {
  0% {
    color: rgb(0, 0, 200);
  }
  100% {
    color: rgb(0, 125, 255);
  }
}

@keyframes addPlayerButtonHoverOut {
  0% {
    color: rgb(0, 125, 255);
  }
  100% {
    color: rgb(0, 0, 200);
  }
}

@keyframes addPlayerButtonClicked {
  0% {
    color: rgb(0, 125, 255);
  }
  50% {
    color: rgb(0, 195, 255);
  }
  100% {
    color: rgb(0, 125, 255);
  }
}

.Bank_saveLoadButton {
  color: rgb(100, 100, 100);
}

.Bank_saveLoadButtonHoverIn {
  animation: saveLoadButtonHoverIn 0.5s forwards;
}

.Bank_saveLoadButtonHoverOut {
  animation: saveLoadButtonHoverOut 0.5s forwards;
}

@keyframes saveLoadButtonHoverIn {
  0% {
    color: rgb(100, 100, 100);
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

@keyframes saveLoadButtonHoverOut {
  0% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: rgb(100, 100, 100);
  }
}

.Bank_transferArrow {
  color: rgb(0, 150, 0);
}

.Bank_transferArrowHoverIn {
  animation: transferArrowHoverIn 0.5s forwards;
}

.Bank_transferArrowHoverOut {
  animation: transferArrowHoverOut 0.5s forwards;
}

.Bank_transferArrowClicked {
  animation: transferArrowClicked 0.5s forwards;
}

@keyframes transferArrowClicked {
  0% {
    color: rgb(0, 205, 0);
  }
  50% {
    color: rgb(0, 255, 125);
  }
  100% {
    color: rgb(0, 205, 0);
  }
}

@keyframes transferArrowHoverIn {
  0% {
    color: rgb(0, 150, 0);
  }
  100% {
    color: rgb(0, 205, 0);
  }
}

@keyframes transferArrowHoverOut {
  0% {
    color: rgb(0, 205, 0);
  }
  100% {
    color: rgb(0, 150, 0);
  }
}

.Bank_playerElement {
  border-color: rgb(185, 185, 0, 0.5);
  background-color: rgb(225, 225, 0, 0.25);
}

.Bank_playerElementHoverIn {
  animation: playerElementHoverIn 0.5s forwards;
}

.Bank_playerElementHoverOut {
  animation: playerElementHoverOut 0.5s forwards;
}

.Bank_playerElementClickOnLandscape {
  animation: playerElementClickOnLandscape 0.5s forwards;
}

.Bank_playerElementClickOffLandscape {
  animation: playerElementClickOffLandscape 0.5s forwards;
}

.Bank_playerElementClickOnPortrait {
  animation: playerElementClickOnPortrait 0.5s forwards;
}

.Bank_playerElementClickOffPortrait {
  animation: playerElementClickOffPortrait 0.5s forwards;
}

@keyframes playerElementClickOnLandscape {
  0% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
    font-weight: normal;
  }
  100% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
}

@keyframes playerElementClickOffLandscape {
  0% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
  100% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
    font-weight: normal;
  }
}

@keyframes playerElementClickOnPortrait {
  0% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
    font-weight: normal;
  }
  100% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
}

@keyframes playerElementClickOffPortrait {
  0% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
  100% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
    font-weight: normal;
  }
}

@keyframes playerElementHoverIn {
  0% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
  }
  100% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
  }
}

@keyframes playerElementHoverOut {
  0% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
  }
  100% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
  }
}

.Bank_loadBankButton {
  border-color: rgb(0, 150, 255, 0.5);
  background-color: rgb(0, 150, 255, 0.25);
  color: black;
}

.Bank_loadBankButtonHoverIn {
  animation: loadBankButtonHoverIn 0.5s forwards;
}

.Bank_loadBankButtonHoverOut {
  animation: loadBankButtonHoverOut 0.5s forwards;
}

.Bank_loadBankButtonClickOnLandscape {
  animation: loadBankButtonClickOnLandscape 0.5s forwards;
}

.Bank_loadBankButtonClickOffLandscape {
  animation: loadBankButtonClickOffLandscape 0.5s forwards;
}

.Bank_loadBankButtonClickOnPortrait {
  animation: loadBankButtonClickOnPortrait 0.5s forwards;
}

.Bank_loadBankButtonClickOffPortrait {
  animation: loadBankButtonClickOffPortrait 0.5s forwards;
}

.Bank_loadBankButtonClickOffNoHover {
  animation: loadBankButtonClickOffNoHover 0.5s forwards;
}

@keyframes loadBankButtonClickOffNoHover {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: black;
  }
}

@keyframes loadBankButtonClickOnLandscape {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonClickOffLandscape {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonClickOnPortrait {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: black;
  }
  100% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonClickOffPortrait {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: black;
  }
}

@keyframes loadBankButtonHoverIn {
  0% {
    border-color: rgb(0, 150, 255, 0.5);
    background-color: rgb(0, 150, 255, 0.25);
    color: black;
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonHoverOut {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.5);
    background-color: rgb(0, 150, 255, 0.25);
    color: black;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
