@media (max-aspect-ratio: 13/9) {
  .VirtualBank_middleTableHeader {
    width: 250px;
  }
  .VirtualBank_table {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.VirtualBank_fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.VirtualBank_menuButtons {
  margin-top: -10px;
}

.VirtualBank_modalWarning {
  height: 35px;
  font-size: 14px;
  font-weight: normal;
  color: rgb(200, 0, 0);
  animation: fadeIn 0.5s forwards;
}

.VirtualBank_table {
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 1s;
}

.VirtualBank_middleTableHeader {
  width: 400px;
}

.VirtualBank_deleteButton {
  color: rgb(155, 0, 0, 0.75);
  animation: fadeIn 0.5s;
}

.VirtualBank_deleteButtonHoverIn {
  animation: deleteButtonHoverIn 0.5s forwards;
}

.VirtualBank_deleteButtonHoverOut {
  animation: deleteButtonHoverOut 0.5s forwards;
}

@keyframes deleteButtonHoverIn {
  0% {
    color: rgb(155, 0, 0, 0.75);
  }
  100% {
    color: rgb(255, 0, 100, 1);
  }
}

@keyframes deleteButtonHoverOut {
  0% {
    color: rgb(255, 0, 100, 1);
  }
  100% {
    color: rgb(155, 0, 0, 0.75);
  }
}

.VirtualBank_addPlayerButton {
  color: rgb(0, 0, 225);
}

.VirtualBank_addPlayerButtonHoverIn {
  animation: addPlayerButtonHoverIn 0.5s forwards;
}

.VirtualBank_addPlayerButtonHoverOut {
  animation: addPlayerButtonHoverOut 0.5s forwards;
}

@keyframes addPlayerButtonHoverIn {
  0% {
    color: rgb(0, 0, 225);
  }
  100% {
    color: rgb(0, 175, 255);
  }
}

@keyframes addPlayerButtonHoverOut {
  0% {
    color: rgb(0, 175, 255);
  }
  100% {
    color: rgb(0, 0, 225);
  }
}

.VirtualBank_saveLoadButton {
  color: rgb(100, 100, 100);
}

.VirtualBank_saveLoadButtonHoverIn {
  animation: saveLoadButtonHoverIn 0.5s forwards;
}

.VirtualBank_saveLoadButtonHoverOut {
  animation: saveLoadButtonHoverOut 0.5s forwards;
}

@keyframes saveLoadButtonHoverIn {
  0% {
    color: rgb(100, 100, 100);
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

@keyframes saveLoadButtonHoverOut {
  0% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: rgb(100, 100, 100);
  }
}

.VirtualBank_transferArrow {
  color: rgb(0, 175, 0);
}

.VirtualBank_transferArrowHoverIn {
  animation: transferArrowHoverIn 0.5s forwards;
}

.VirtualBank_transferArrowHoverOut {
  animation: transferArrowHoverOut 0.5s forwards;
}

@keyframes transferArrowHoverIn {
  0% {
    color: rgb(0, 175, 0);
  }
  100% {
    color: rgb(0, 255, 0);
  }
}

@keyframes transferArrowHoverOut {
  0% {
    color: rgb(0, 255, 0);
  }
  100% {
    color: rgb(0, 175, 0);
  }
}

.VirtualBank_playerElement {
  border-color: rgb(185, 185, 0, 0.5);
  background-color: rgb(225, 225, 0, 0.25);
}

.VirtualBank_playerElementHoverIn {
  animation: playerElementHoverIn 0.5s forwards;
}

.VirtualBank_playerElementHoverOut {
  animation: playerElementHoverOut 0.5s forwards;
}

.VirtualBank_playerElementClickOnLandscape {
  animation: playerElementClickOnLandscape 0.5s forwards;
}

.VirtualBank_playerElementClickOffLandscape {
  animation: playerElementClickOffLandscape 0.5s forwards;
}

.VirtualBank_playerElementClickOnPortrait {
  animation: playerElementClickOnPortrait 0.5s forwards;
}

.VirtualBank_playerElementClickOffPortrait {
  animation: playerElementClickOffPortrait 0.5s forwards;
}

@keyframes playerElementClickOnLandscape {
  0% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
    font-weight: normal;
  }
  100% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
}

@keyframes playerElementClickOffLandscape {
  0% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
  100% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
    font-weight: normal;
  }
}

@keyframes playerElementClickOnPortrait {
  0% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
    font-weight: normal;
  }
  100% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
}

@keyframes playerElementClickOffPortrait {
  0% {
    border-color: rgb(185, 185, 0, 1);
    background-color: rgb(225, 225, 0, 0.75);
    font-weight: bold;
  }
  100% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
    font-weight: normal;
  }
}

@keyframes playerElementHoverIn {
  0% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
  }
  100% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
  }
}

@keyframes playerElementHoverOut {
  0% {
    border-color: rgb(185, 185, 0, 0.75);
    background-color: rgb(225, 225, 0, 0.5);
  }
  100% {
    border-color: rgb(185, 185, 0, 0.5);
    background-color: rgb(225, 225, 0, 0.25);
  }
}

.VirtualBank_loadBankButton {
  border-color: rgb(0, 150, 255, 0.5);
  background-color: rgb(0, 150, 255, 0.25);
  color: (0, 0, 0, 0.8);
}

.VirtualBank_loadBankButtonHoverIn {
  animation: loadBankButtonHoverIn 0.5s forwards;
}

.VirtualBank_loadBankButtonHoverOut {
  animation: loadBankButtonHoverOut 0.5s forwards;
}

.VirtualBank_loadBankButtonClickOnLandscape {
  animation: loadBankButtonClickOnLandscape 0.5s forwards;
}

.VirtualBank_loadBankButtonClickOffLandscape {
  animation: loadBankButtonClickOffLandscape 0.5s forwards;
}

.VirtualBank_loadBankButtonClickOnPortrait {
  animation: loadBankButtonClickOnPortrait 0.5s forwards;
}

.VirtualBank_loadBankButtonClickOffPortrait {
  animation: loadBankButtonClickOffPortrait 0.5s forwards;
}

.VirtualBank_loadBankButtonClickOffNoHover {
  animation: loadBankButtonClickOffNoHover 0.5s forwards;
}

@keyframes loadBankButtonClickOffNoHover {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
}

@keyframes loadBankButtonClickOnLandscape {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonClickOffLandscape {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonClickOnPortrait {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
  100% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonClickOffPortrait {
  0% {
    border-color: rgb(0, 150, 255, 1);
    background-color: rgb(0, 150, 255, 0.5);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
}

@keyframes loadBankButtonHoverIn {
  0% {
    border-color: rgb(0, 150, 255, 0.5);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
}

@keyframes loadBankButtonHoverOut {
  0% {
    border-color: rgb(0, 150, 255, 0.75);
    background-color: rgb(0, 150, 255, 0.25);
    color: rgb(0, 50, 255);
  }
  100% {
    border-color: rgb(0, 150, 255, 0.5);
    background-color: rgb(0, 150, 255, 0.25);
    color: (0, 0, 0, 0.8);
  }
}

.VirtualBank_dollorSign {
  color: rgb(0, 0, 0, 0.7);
  animation: fadeIn 1s;
}

.VirtualBank_dollorSignLosing {
  color: red;
  animation: fadeIn 1s;
}

.VirtualBank_dollorSignGaining {
  color: rgb(0, 255, 0);
  animation: fadeIn 1s;
}
