.DiceRoller_menuButtons {
  text-align: center;
}

.DiceRoller_menuItem {
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  margin-left: 20px;
}

.DiceRoller_diceRolls {
  text-align: center;
  padding: 10px;
}

.DiceRoller_diceNumImage {
  padding: 10px;
  width: 100px;
  animation-name: spinDice;
  animation-duration: 1s;
}

.DiceRoller_diceZeroImage {
  padding: 10px;
  width: 100px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes spinDice {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-aspect-ratio: 13/9) {
  .DiceRoller_menuItem {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
