.TicTacGrow_table {
  animation-name: fadeIn;
  animation-duration: 3s;
  width: 80vh;
  height: 80vh;
}

.TicTacGrow_turn {
  text-align: center;
  margin: 5px;
  font-size: 24px;
}

.TicTacGrow_menuButtons {
  text-align: center;
}

.TicTacGrow_menuButton {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  display: inline-block;
}

.TicTacGrow_cellExists {
  font-weight: bold;
  border: 1px double black;
  background-color: rgb(255, 255, 255, 1);
  animation-name: newCell;
  animation-duration: 1s;
}

.TicTacGrow_cellWinner {
  font-weight: bold;
  border: 1px double black;
  animation: winner 1s infinite;
}

.TicTacGrow_cellEmpty {
  background-color: rgb(205, 205, 205);
  border: 1px solid rgb(205, 205, 205);
}

.TicTacGrow_fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes newCell {
  from {
    background-color: red;
  }
  to {
    background-color: white;
  }
}

@keyframes winner {
  0% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(255, 255, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

@media (max-aspect-ratio: 13/9) {
  .TicTacGrow_menuButton {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .TicTacGrow_turn {
    font-size: 18px;
  }

  .TicTacGrow_table {
    margin-left: 0;
    width: 100vw;
    height: 100vw;
  }
}
