.TicTacGrow_table {
  animation-name: fadeIn;
  animation-duration: 2.5s;
  width: 80vh;
  height: 80vh;
}

.TicTacGrow_turn {
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  animation: fadeIn 1s;
}

.TicTacGrow_turnWinner {
  text-align: center;
  margin: 10px;
  font-size: 24px;
  animation: turnWinner 1s infinite;
}

.TicTacGrow_menuButtons {
  text-align: center;
}

.TicTacGrow_menuButton {
  margin: 15px;
  font-size: 18px;
}

.TicTacGrow_cellExists {
  font-weight: bold;
  border: 1px double black;
  background-color: rgb(255, 255, 255, 1);
  animation: newCell 1s;
}

.TicTacGrow_cellOccupied {
  font-weight: bold;
  border: 1px double black;
  background-color: rgb(255, 255, 255, 1);
  animation: cellOccupied 1s;
}

.TicTacGrow_cellWinner {
  font-weight: bold;
  border: 1px double black;
  animation: winner 1s infinite;
}

.TicTacGrow_cellEmpty {
  background-color: rgb(205, 205, 205);
  border: 1px solid rgb(205, 205, 205);
}

.TicTacGrow_fadeIn {
  animation: fadeIn 1s;
}

.TicTacGrow_fadeInFast {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes turnWinner {
  0% {
    color: black;
  }
  50% {
    color: rgb(225, 225, 0);
  }
  100% {
    color: black;
  }
}

@keyframes newCell {
  0% {
    border: 1px double rgb(205, 205, 205);
    background-color: rgb(205, 205, 205);
  }
  50% {
    border: 1px double black;
    background-color: rgb(0, 255, 0, 0.75);
  }
  100% {
    background-color: white;
  }
}

@keyframes cellOccupied {
  0% {
    background-color: rgb(205, 205, 205);
  }
  50% {
    background-color: rgb(0, 200, 255, 0.5);
  }
  100% {
    background-color: white;
  }
}

@keyframes winner {
  0% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(255, 255, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

@media (max-aspect-ratio: 13/9) {
  .TicTacGrow_menuButton {
    font-size: 14px;
  }

  .TicTacGrow_turn {
    margin-top: 5px;
    font-size: 18px;
  }

  .TicTacGrow_turnWinner {
    margin-top: 5px;
    font-size: 20px;
  }

  .TicTacGrow_table {
    margin-left: 0;
    width: 100vw;
    height: 100vw;
  }
}
